.list-overflow-container {
    width: 90%;
    border: none;
    margin: 0 auto;
}

.list-group {
    display: inline;
}

.list-group-item {
    float: left;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin: .5rem;
}
